<div id="<%= dom_id education %>">
  <p>
    <strong>Degree:</strong>
    <%= education.degree %>
  </p>

  <p>
    <strong>School:</strong>
    <%= education.school %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= education.description %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= education.start %>
  </p>

  <p>
    <strong>End:</strong>
    <%= education.end %>
  </p>

  <p>
    <strong>Profile:</strong>
    <%= education.profile_id %>
  </p>

</div>
