<div id="<%= dom_id profile %>">
  <p>
    <strong>Name:</strong>
    <%= profile.name %>
  </p>

  <p>
    <strong>Job title:</strong>
    <%= profile.job_title %>
  </p>

  <p>
    <strong>Total experience:</strong>
    <%= profile.total_experience %>
  </p>

  <p>
    <strong>Career highlights:</strong>
    <%= profile.career_highlights %>
  </p>

  <p>
    <strong>Overview:</strong>
    <%= profile.overview %>
  </p>

  <p>
    <strong>Primary skill:</strong>
    <%= profile.primary_skill %>
  </p>

  <p>
    <strong>Secondar skill:</strong>
    <%= profile.secondar_skill %>
  </p>

  <p>
    <strong>User:</strong>
    <%= profile.user_id %>
  </p>

</div>
